<launch>

  <arg name="robot_name" default="r1" />

  <group ns="$(arg robot_name)">
    <node pkg="shmfw_bridge" type="shmfw_bridge_node" name="shmfw_bridge" output="screen">
      <param name="pose/tf_prefix" value="$(arg robot_name)"/> 
      <param name="pose/target_frame" value="/map"/>    
      <param name="pose/source_frame" value="base_link"/>  
      <param name="cmd/shm_varible_name" value="cmd_vel"/> 
      <param name="cmd/frequency" value="1"/>     
      <param name="path/resolution" value="0.2"/>       
      <param name="gazebo/shm_name_pose_gt" value="pose"/>       
    </node>
  </group>


</launch>
