<launch>

  <arg name="robot_name" default="r1" />
  
  <group ns="$(arg robot_name)">
  
    <!-- sends  twist (cmd_vel) messages trigged by the shared memory  -->
    <node pkg="shmfw2ros" type="shmfw2ros_twist" name="shmfw_command" output="screen">
      <param name="shm_twist_name" value="cmd_vel"/>    
      <param name="timeout_signal" value="0.5"/>     
      <param name="frequency" value="-1"/>     
    </node>
    
  </group>

</launch>
