<launch>

  <arg name="robot_name" default="r1" />
  
  <group ns="$(arg robot_name)">
  
    <!-- writes twist (cmd_vel) messages into the shared memory trigged by a ros message  -->
    <node pkg="shmfw2ros" type="ros2shmfw_twist" name="shmfw_cmd_current" output="screen">
      <param name="ros_msg_names" value="cmd_vel_current, cmd_vel_target"/>   <!-- one can also use a list separated with ", " -->
    </node>
    
  </group>

</launch>
