<launch>

  <arg name="robot_name" default="r1" />
  <arg name="pose2d_localization" default="pose2d_localization" />
  
  <group ns="$(arg robot_name)">
  
    <!-- writes transformation (tf) messages into the shared memory trigged by a ros message  -->
    <node pkg="shmfw_tf" type="ros2shmfw_tf" name="ros2shmfw_pose" output="screen">
      <param name="tf_prefix" value="$(arg robot_name)"/>   
      <param name="frequency" value="25"/>   
      <param name="offset" value="[[0,0],[0]]"/>   
      <param name="target_frame" value="map"/>   
      <param name="source_frame" value="base_link"/>   
      <param name="shm_name_pose" value="pose_localization"/>  
      <param name="shm_name_pose2d" value="$(arg pose2d_localization)"/>   
    </node>
  </group>

</launch>
